// .header {
//   background: #3cb6d3;
//   // height: 500px;
//   display: flex;
//   flex-direction: column;

.home-header-container {
  height: 75px;
  // border: 1px solid red;
  width: 100%;
  display: flex;
  justify-content: center;
  background: #3cb6d3;
  font-family: proxima-nova, sans-serif;

  .home-header-content {
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: space-between;

    .left-content {
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 5px;
      align-items: center;
      cursor: pointer;
      font-size: 25px;
      color: white;
      font-weight: 600;
      background-color: #3cb6d3;
    }

    .right-content {
      display: flex;
      gap: 10px;

      button {
        padding: 10px;
        margin: auto;
        border-radius: 15px;
        border: none;
        background: white !important;
        font-weight: 600;
        color: #3cb6d3;
      }

      .post-for-free {
        margin: auto;
        padding: 10px;
        border-radius: 15px;
        border: none;
        background: white;
        font-weight: 600;
        color: #3cb6d3;
        cursor: pointer;
      }
    }
  }
}
// }

.homepage-container {
  background: #3cb6d3;

  .home-header-banner {
    height: 862px;
    // background: #3cb6d3 !important;
    background: url("../../assets/banner/banner.svg") bottom repeat-x;
    background-size: 1280px;

    .title1 {
      text-align: center;
      font-size: 35px;
      text-shadow: 1px 1px 1px #333;
      padding-bottom: 20px;
      color: white;
      padding-top: 50px;
      color: #f7d800;
      font-weight: 700;
    }

    .title2 {
      text-align: center;
      font-size: 20px;
      text-shadow: 1px 1px 1px #333;
      color: white;
      font-weight: 600;
      // color:  #f7d800;
    }

    .search-select {
      padding-top: 40px;
      margin: 0 auto;
      width: 400px;
      height: 60px;
      padding-bottom: 60px;
      // background: #f7d800 !important;
    }

    .search-homelisting {
      background: #f7d800;
      width: 600px;
      height: 60px;
      margin: 0 auto;
      border-radius: 5px;
      padding: 5px 10px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 10px;

      .search-top {
        padding: 5px;
        .search-address {
          font-size: 16px;
        }

        .search-price {
        }
      }

      button {
        background: white;
        border-radius: 5px;
        width: 60px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px 0;
        cursor: pointer;
        color: red;
        font-weight: 600;

        &:hover {
          background-color: #3cb6d3 !important;
          color: white !important;
        }
      }
    }
  }
}
